# Dependencies
node_modules/

# Build output
dist/
build/
lib/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test
coverage/
.jest/

# Misc
*.tgz
.env
.env.local
.env.*.local

